/* This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
See the below repository for updates as well as full license text.
https://github.com/eduwz/firefox-minimalist/tree/master/userChrome.css 
*/

/*-------------------------------------------------------------------------------------------------------*/
/* Firefox-Minimalist */
/*-------------------------------------------------------------------------------------------------------*/

@import url('content/navbar_tabs_responsive_oneliner.css');
@import url('content/autohide_bookmarks_toolbar.css');
@import url('content/compact_proton.css');
@import url('content/minimal_text_fields.css');
@import url('content/compact_extensions_panel.css');

/* theme */
@import url('content/theme.css');

/*-------------------------------------------------------------------------------------------------------*/
/*playground*/
/*-------------------------------------------------------------------------------------------------------*/



/*-------------------------------------------------------------------------------------------------------*/

