/* collor pallet variablesz*/

:root {
  --uc-active-color: #0063b1;
  --uc-hover-color: #2c313c;
  --uc-light-bkgnd-color: #282c34;
  --uc-dark-bkgnd-color: #21252b;
  --uc-text-color:;
  --uc-border-color:;
}

/*

atom colors
    #21252b
    #282c34
    #2c313c //selected line
    #383b41 //hover minimizer/maximizer
    #d41324 //hover close button
firefox
    #2a2a2e //window bar
    #1c1b22 //url bar
    #42414d //url bar selected, fav bar context menu
    #0063b1 //active tab 
    #59595c //hover minimizer/maximizer
    #e81123 //hover close button

goal
  window bar
  url bar
  url bar selectd
  active tab
  hover buttons
  hover closed tab button

*/

/* toolbar */
#TabsToolbar,
#toolbar-menubar{
  background-color: var(--uc-dark-bkgnd-color) !important;
}
#nav-bar{
  background-color: var(--uc-dark-bkgnd-color) !important;
}
#PersonalToolbar {
  background-color: var(--uc-light-bkgnd-color) !important;
}

/* tab */

#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab[first-visible-unpinned-tab]{
  margin-inline-start: 0 !important;
}

.tabbrowser-tab[fadein]{
  max-width: 140px !important; 
}
.tabbrowser-tab[fadein]{
  min-width: 32px !important;
}
.tabbrowser-tab{
  max-height: 34px !important; 
  padding: 0px !important;
}
.tabbrowser-tab .tab-close-button{
  display:none;
}
.tabbrowser-tab:not([pinned]):hover .tab-close-button{
  display:-moz-box !important;
}
#alltabs-button, #tabs-newtab-button{
 --tab-border-radius: none;
 padding: 0px !important;
}



/* active tab background */
.tab-content[selected="true"], .tab-content:hover[selected="true"]{
  background-color: var( --uc-active-color ) !important;
  height: 36px !important; 
  padding-bottom: 2px !important;
}  
.tab-content:hover{
  background-color: var( --uc-hover-color ) !important;
  height: 36px !important;
  padding-bottom: 2px !important;
}

/* context menu */

/*-------------------------------------------------------------------------------------------------------*/

/*pinned icons size*/
.tab-icon-stack[pinned="true"]{
  height: 15px !important;
  width: 15px !important;
} 

/*fix some menus being displayed outside screen*/
#PanelUI-button, .panel-arrow{
  -moz-box-ordinal-group: 0 !important;
}

/* removes separators on urlbar droplist }*/
.urlbarView{ 
--autocomplete-popup-separator-color: none; 
}

/*mute button on pinned tab align*/
.tab-icon-overlay[pinned="true"]{
  margin-top: 2px !important;
  margin-left: -7px !important; 
  height: 20px !important;
  width: 20px !important;
}


/*-------------------------------------------------------------------------------------------------------*/
/*playground*/

.panel-subview-body, .menupopup-arrowscrollbox {
   background: #353b45 !important;
}
:root {
  --toolbar-field-focus-background-color: #353b45 !important;
}

.subviewbutton:hover, .menuitem-iconic:hover{
  background: #2c313a !important;
}
#contentAreaContextMenu{
  background-color: red !important;
}

:root {
  --toolbar-bgcolor: #21252b !important; /*--uc-dark-bkgnd-color*/
  --toolbar-field-focus-border-color: #0063b1 !important; /*--uc-active-color*/
  --toolbar-field-hover-background-color: green !important;
  --toolbarbutton-active-background: #33466c !important; /* new faded blue*/
  --toolbarbutton-hover-background: #0063b1 !important; /*#4d78cc contrast issue*/
  --arrowpanel-color: white !important; /*not needed*/
  --lwt-text-color: white !important; /*not needed*/
  --toolbar-non-lwt-textcolor: purple !important; /**/
  --toolbar-field-hover-background-color: red !important;
}

.urlbarView-action{
  background-color: #0063b1 !important;
}

.urlbarView-row-inner{
  padding-block: 3px !important;
}

:is(.urlbarView-row[selected], .urlbarView-row:hover) .urlbarView-row-inner {
background-color: #2c313a !important;
}

menupopup > menuitem:hover, 
menupopup > menu:hover,
menupopup > menucaption:hover  {
  background-color: green !important;
}

#context-navigation:hover {
  background-color: green !important;
}

.PanelUI-subView{
  background-color: #353b45 !important;
}

#context-back:hover{
  background-color: red !important;
}
.menuitem-iconic:hover {
  background-color: red !important;
  padding: none !important;
  border: none !important;
  margin: none !important;
}
  /*-------------------------------------------------------------------------------------------------------*/
