/* This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
See the below repository for updates as well as full license text.
https://github.com/eduwz/firefox-minimalist/tree/master/content/theme.css
*/

/*-------------------------------------------------------------------------------------------------------*/

:root {
  --uc-main-bgcolor: #21252b;
  --uc-bgcolor: #282c34;
  --uc-active-color: #0063b1;
  --uc-hover-color: #33466c;
  --uc-hover-selected: #2c313c;
  --uc-panel-bgcolor: #353b45;
  --uc-main-color: #fff;
  --uc-separator-color: #494e57;
  --uc-border-radius: 4px;
  --uc-height: 34px;
}
:root {
    --toolbar-bgcolor: var(--uc-main-bgcolor) !important;
    --toolbar-field-focus-border-color: var(--uc-hover-color) !important;
    --toolbar-field-focus-background-color: var(--uc-panel-bgcolor) !important;
    --toolbar-field-hover-background-color: var(--uc-hover-selected) !important;
    --toolbarbutton-active-background: var(--uc-active-color) !important;
    --toolbarbutton-hover-background: var(--uc-hover-color) !important;
    --arrowpanel-color: var(--uc-main-color) !important;
    --lwt-text-color: var(--uc-main-color) !important;
    --toolbar-non-lwt-textcolor: var(--uc-main-bgcolor) !important;
    --button-hover-bgcolor: transparent !important;
    --panel-separator-color: var(--uc-separator-color) !important;
    --tab-block-margin: none !important;
}
/*-------------------------------------------------------------------------------------------------------*/
/* navbar_tabs_responsive_oneliner.css */
/*-------------------------------------------------------------------------------------------------------*/
@media screen and (min-width: 1100px){
  #navigator-toolbox{
      --uc-urlbar-min-width: 20vw;
      --uc-toolbar-height: var(--uc-height);
  }
}
/*-------------------------------------------------------------------------------------------------------*/
/* autohide_bookmarks_toolbar.css */
/*-------------------------------------------------------------------------------------------------------*/
#PersonalToolbar{
  --uc-autohide-toolbar-delay: 300ms;
}
#PersonalToolbar{
  --toolbar-bgcolor: var(--uc-main-bgcolor) !important;
}
/*-------------------------------------------------------------------------------------------------------*/
/* toolbar */
/*-------------------------------------------------------------------------------------------------------*/
#TabsToolbar,
#toolbar-menubar{
  background-color: var(--uc-main-bgcolor) !important;
}

.titlebar-button{
  border-radius: var(--uc-border-radius) !important;
}
.titlebar-min:hover,
.titlebar-max:hover,
.titlebar-restore:hover{
  background-color: var(--uc-hover-color) !important;
}
.titlebar-min:active,
.titlebar-max:active,
.titlebar-restore:active{
  background-color: var(--uc-active-color) !important;
}
.titlebar-button {
  padding-inline: 14px !important;
  transition: opacity 0.2s ease;
}
.toolbarbutton-1{
  padding: 0px !important;
}
.bookmark-item[type="menu"]{
  margin: 0px !important;
}
.subviewbutton:hover{
  background: var(--uc-hover-selected) !important;
}
#nav-bar{
  height: var(--uc-height) !important;
  background-color: var(--uc-main-bgcolor) !important;
}
#TabsToolbar{
  height: var(--uc-height) !important;
}
/*-------------------------------------------------------------------------------------------------------*/
/* tabs */
/*-------------------------------------------------------------------------------------------------------*/
.tabbrowser-tab{
  min-height: var(--uc-height) !important;
}
.tabbrowser-tab[fadein]{
  max-width: 140px !important;
  min-width: 32px !important;
}
.tabbrowser-tab{
  padding: 0px !important;
}
.tab-background{
  background-color: var(--uc-main-bgcolor) !important;
}
.tab-background[selected]{
  background-color: var(--uc-active-color) !important;
}
.tabbrowser-tab:hover > .tab-stack > .tab-background:not([selected]) {
  background-color: var(--uc-hover-color) !important;
}
.tab-close-button:hover{
  background-color: var(--uc-hover-selected) !important;
}
#firefox-view-button{
  display: none !important;
}
/*-------------------------------------------------------------------------------------------------------*/
/* url */
/*-------------------------------------------------------------------------------------------------------*/
#searchbar,
#urlbar,
.searchbar-textbox{
  margin-top: -2px !important;
}
.urlbarView{
  --autocomplete-popup-separator-color: none !important; 
}
.urlbarView-row[selected],
.urlbarView-row[type="switchtab"][selected],
.searchbar-engine-one-off-item[selected],
#urlbar-search-mode-indicator{
  background-color: var(--uc-active-color) !important;
}
.urlbarView-row:hover,
.urlbarView-row[type="switchtab"]:hover,
#urlbar-search-mode-indicator-close:hover{
  background-color: var(--uc-hover-selected) !important;
}
.identity-box-button:hover,
#tracking-protection-icon-container:hover,
.urlbar-page-action:hover,
.searchbar-engine-one-off-item:hover,
#urlbar-go-button:hover,
.urlbarView-row[type="switchtab"]{
  background-color: var(--uc-hover-color) !important;
}
:is(.urlbarView-row[selected],.urlbarView-row:hover) .urlbarView-row-inner {
  background-color: invisible !important;
}
.search-one-offs{
  padding-block: 0px 6px !important;
}
.urlbarView,
#urlbar,
#urlbar-background{
  border-radius: var(--uc-border-radius) !important;
}
/*-------------------------------------------------------------------------------------------------------*/
/* menus */
/*-------------------------------------------------------------------------------------------------------*/
.panel-subview-body,
.menupopup-arrowscrollbox,
menupopup > menuitem[_moz-menuactive="true"]{
  background: var(--uc-panel-bgcolor) !important;
  color: var(--uc-main-color) !important;
}
menupopup > menuitem:hover, 
menupopup > menu:hover,
menupopup > menucaption:hover  {
  background-color: var(--uc-hover-selected) !important;
  color: white !important;
}
#context-navigation > menuitem[_moz-menuactive] .menu-iconic-icon{
  border-radius: var(--uc-border-radius) !important;
}
menupopup:not(.in-menulist){
  --panel-padding: none !important;
}
menupopup{
  --panel-border-radius: var(--uc-border-radius) !important;
}
.menupopup-arrowscrollbox{
  padding-block: 4px 4px !important;
}
#context-navigation{
  padding-right: 4px !important;
  padding-left: 4px !important;
}
#context-back:hover image,
#context-forward:hover image,
#context-reload:hover image,
#context-stop:hover image,
#context-bookmarkpage:hover image,
#context-sep-navigation:hover {
  background-color: var(--uc-hover-color) !important;
}
#context-sep-navigation{
  display: none !important;
}
/*-------------------------------------------------------------------------------------------------------*/
/* others */
/*-------------------------------------------------------------------------------------------------------*/
#editBMPanel_chooseFolderSeparator,
#editBMPanel_foldersSeparator{
  display: none !important;
}
#editBMPanel_folderTree,
#editBMPanel_newFolderButton,
#editBookmarkPanelRemoveButton,
#editBMPanel_folderMenuList,
#editBMPanel_foldersExpander,
#editBMPanel_tagsSelectorExpander,
#editBMPanel_namePicker,
#editBMPanel_tagsField{
  background-color: var(--uc-bgcolor) !important;
}
#permission-popup-mainView,
.panel-header,
#protections-popup-mainView,
#identity-popup-mainView,
.cui-widget-panelview{
  background-color: var(--uc-panel-bgcolor) !important;
}
.unified-extensions-item-menu-button.subviewbutton {
  border-radius: var(--uc-border-radius) !important;
}
menuitem:hover,
#editBMPanel_folderMenuList:hover,
#editBMPanel_newFolderButton:hover,
#editBookmarkPanelRemoveButton:hover,
#editBMPanel_foldersExpander:hover,
#editBMPanel_tagsSelectorExpander:hover,
#editBMPanel_namePicker:hover,
#editBMPanel_tagsField:hover,
#protections-popup-info-button:hover,
.unified-extensions-item-menu-button:hover{
  background-color: var(--uc-hover-color) !important;
}
.unified-extensions-item-menu-button.subviewbutton {
  padding: 0 !important; 
}
#urlbar-one-offs-header-label{
  display: none !important;
}
/*-------------------------------------------------------------------------------------------------------*/